.jira-field-mappings {
	margin-top: 10px;
}

.field-mappings-list {
	margin: 10px 0;
}

.field-mapping-item {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr auto;
	gap: 8px;
	margin-bottom: 8px;
	padding: 8px;
	border: 1px solid var(--background-modifier-border);
	align-items: center;
}

.work-description-container textarea {
	width: 100%;
}

.field-name-container {
	background-color: var(--background-primary);
}


.field-mapping-label {
	font-weight: 500;
}

.field-name-input, .to-jira-input, .from-jira-input {
	width: 100%;
	border: 1px solid var(--background-modifier-border);
}


.field-mapping-item .invalid,
.setting-item.invalid input {
	background-color: rgba(var(--color-red-rgb), 0.2);
}

.remove-field-btn {
	background-color: var(--background-modifier-error);
	color: var(--text-on-accent);
	cursor: pointer;
	font-weight: bold;
}

.add-field-mapping-btn {
	padding: 6px 12px;
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
	border-radius: 4px;
	cursor: pointer;
}

.mapping-examples {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
}

.mapping-examples ul {
	padding-left: 20px;
}

.mapping-examples li {
	margin-bottom: 10px;
}

.use-example-btn {
	margin-left: 8px;
	padding: 2px 6px;
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.8em;
}

.button-view {
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1vw;
}

.button-view button {
	width: fit-content;
}
